Data Analysis Assessment 2025
Candidate: Hulya Alpagu
Email: hulyalpagu@gmail.com
Phone: + 1 (862) 2977302

# Data Cleaning, Preparation and Export for Power BI Visualization

This notebook demonstrates the data cleaning and preparation process I applied to the dataset provided. The goal was to ensure the data was accurate, consistent, and ready for analysis. After completing the cleaning steps in Python, I exported the final dataset to Power BI to create interactive visualizations and uncover meaningful insights for decision-making.

# Load the Dataset

In [149]:
import pandas as pd

# Load Excel file
file_path = 'Data Analyst Assessment 2025.xlsx'
xls = pd.ExcelFile(file_path)

# Load individual sheets
student_df = pd.read_excel(xls, sheet_name='student_table')
asset_df = pd.read_excel(xls, sheet_name='asset_table')
event_df = pd.read_excel(xls, sheet_name='event_table')
performance_df = pd.read_excel(xls, sheet_name='performance_table')

# Check Dataset Shapes

In [151]:
print("DataFrame shapes:")
print("Student Table:",student_df.shape)
print("Asset Table Types:",asset_df.shape)
print("Event Table Types:",event_df.shape)
print("Performance Table:",performance_df.shape)

DataFrame shapes:
Student Table: (1000, 7)
Asset Table Types: (80503, 4)
Event Table Types: (80503, 4)
Performance Table: (11539, 5)

# Missing Value Check

In [152]:
# Check for missing values
print("Missing values:")
print(student_df.isnull().sum())
print(asset_df.isnull().sum())
print(event_df.isnull().sum())
print(performance_df.isnull().sum())

Missing values:
student_id                   0
final_grade                  0
total_time_spent             0
total_resources_completed    0
mastery_level                0
badges_earned                0
dropout_flag                 0
dtype: int64
student_id       0
timestamp        0
resource_type    0
resource_id      0
dtype: int64
student_id            0
resource_id           0
action_type           0
time_spent_seconds    0
dtype: int64
student_id       0
resource_type    0
resource_id      0
score            0
difficulty       0
dtype: int64

# Duplicate Check and Removal

In [153]:
#Check Dublicate
print(f"Student Table Duplicates: {student_df.duplicated().sum()}")
print(f"Asset Table Duplicates: {asset_df.duplicated().sum()}")
print(f"Event Table Duplicates: {event_df.duplicated().sum()}")
print(f"Performance Table Duplicates: {performance_df.duplicated().sum()}")

Student Table Duplicates: 0
Asset Table Duplicates: 1
Event Table Duplicates: 46
Performance Table Duplicates: 1

In [154]:
#which data dublicate
print("\n Asset Table Duplicates:")
print(asset_df[asset_df.duplicated()])

print("\n Event Table Duplicates:")
print(event_df[event_df.duplicated()])

print("\n Performance Table Duplicates:")
print(performance_df[performance_df.duplicated()])

 Asset Table Duplicates:
       student_id           timestamp resource_type resource_id
36392         456 2025-01-07 05:27:00        survey  survey_386

 Event Table Duplicates:
       student_id     resource_id action_type  time_spent_seconds
4771           63     reading_224      viewed                  92
5912           74  assignment_119   submitted                   5
6135           74  assignment_253   submitted                   5
6239           74     reading_168      viewed                   5
6365           74        quiz_281   submitted                   5
6481           74         quiz_63   submitted                  14
6521           74       video_472      viewed                  49
34404         440       survey_48   submitted                   5
34442         440       forum_491      posted                   5
34473         440  assignment_433   submitted                   5
34474         440     reading_399      viewed                   5
34526         440       forum_329      posted                   5
34675         440        quiz_190   submitted                   5
34700         440        game_358      played                   5
34795         440   assignment_89   submitted                   5
35179         440         quiz_41   submitted                  10
35195         440        game_345      played                   5
35270         440       video_259      viewed                   5
35278         440         game_69      played                   5
62580         799       video_310      viewed                   5
62938         799      survey_444   submitted                   5
62945         799         quiz_88   submitted                   5
62990         799        quiz_136   submitted                   5
63003         799          game_8      played                   5
63143         799       video_104      viewed                   5
67437         849       forum_447      posted                   5
67449         849       forum_141      posted                   9
67501         849       forum_104      posted                   5
67787         849        quiz_148   submitted                   5
67890         849      survey_373   submitted                  43
67909         849       forum_131      posted                  11
68018         849       survey_66   submitted                   5
68035         849        quiz_198   submitted                   5
68120         849        quiz_135   submitted                  17
68151         849     reading_258      viewed                   5
68191         849        game_285      played                   5
68257         849       forum_104      posted                   5
72106         897       video_298      viewed                   5
72423         897        game_414      played                  13
72721         897        game_484      played                   5
72818         897     reading_404      viewed                   5
72845         897       forum_468      posted                   8
72851         897  assignment_274   submitted                  27
72853         897        game_334      played                   5
72885         897  assignment_432   submitted                   5
72916         897        quiz_258   submitted                   6

 Performance Table Duplicates:
      student_id resource_type resource_id  score  difficulty
8781         787          quiz    quiz_103     30           1

In [155]:
# Remove duplicates
asset_df = asset_df.drop_duplicates()
event_df = event_df.drop_duplicates()
performance_df = performance_df.drop_duplicates()

# Check Dataset Shapes After Duplicate Removal

In [156]:
print("Cleaned DataFrame shapes:")
print("Student Table:",student_df.shape)
print("Asset Table Types:",asset_df.shape)
print("Event Table Types:",event_df.shape)
print("Performance Table:",performance_df.shape)

Cleaned DataFrame shapes:
Student Table: (1000, 7)
Asset Table Types: (80502, 4)
Event Table Types: (80457, 4)
Performance Table: (11538, 5)

# Data Type Inspection

In [158]:
#3.	Check Data Types
print("Student Table Types:\n", student_df.dtypes)
print("\nAsset Table Types:\n", asset_df.dtypes)
print("\nEvent Table Types:\n", event_df.dtypes)
print("\nPerformance Table Types:\n", performance_df.dtypes)

Student Table Types:
 student_id                     int64
final_grade                  float64
total_time_spent               int64
total_resources_completed      int64
mastery_level                 object
badges_earned                  int64
dropout_flag                   int64
dtype: object

Asset Table Types:
 student_id                int64
timestamp        datetime64[ns]
resource_type            object
resource_id              object
dtype: object

Event Table Types:
 student_id             int64
resource_id           object
action_type           object
time_spent_seconds     int64
dtype: object

Performance Table Types:
 student_id        int64
resource_type    object
resource_id      object
score             int64
difficulty        int64
dtype: object

# Feature Reduction

In [84]:
# Show unique values in 'resource_type' column for both asset_table and performance_table
unique_asset_types = asset_df['resource_type'].unique()
print("resource_type column of asset_df:", unique_asset_types)

unique_performance_types = performance_df['resource_type'].unique()
print("resource_type column of performance_df:", unique_performance_types)

resource_type column of asset_df: ['reading' 'survey' 'video' 'game' 'quiz' 'forum' 'assignment']
resource_type column of performance_df: ['quiz']

In [85]:
# Drop 'resource_type' column from performance_df
performance_df.drop(columns=['resource_type'], inplace=True)
print(performance_df.columns)  # Confirm the column is removed

Index(['student_id', 'resource_id', 'score', 'difficulty'], dtype='object')

# Normalization Values

In [87]:
# Show unique values in 'dropout_flag' column from student_table
unique_asset_types = student_df['dropout_flag'].unique()
print("resource_type column of asset_df:", unique_asset_types)

resource_type column of asset_df: [0 1]

In [88]:
# Convert dropout_flag to descriptive labels in student_df
student_df['dropout_flag'] = student_df['dropout_flag'].map({
    0: 'Active Student',
    1: 'Dropped Out Student'
})

# Show unique values after converting dropout_flag in student_table
unique_asset_types = student_df['dropout_flag'].unique()
print("resource_type column of asset_df:", unique_asset_types)

resource_type column of asset_df: ['Active Student' 'Dropped Out Student']

# Merging the Tables

In [92]:
#MERGE THE TABLES
# Step 1: Merge event_table with asset_table on student_id and resource_id
event_asset_df = pd.merge(event_df, asset_df, on=['student_id', 'resource_id'], how='left')

# Step 2: Merge with performance_table on student_id and resource_id
event_asset_perf_df = pd.merge(event_asset_df, performance_df, on=['student_id', 'resource_id'], how='left')

# Step 3: Merge with student_table on student_id
final_df = pd.merge(event_asset_perf_df, student_df, on='student_id', how='left')

# Show the final dataframe shape and preview
print("\nFinal dataset shape:", final_df.shape)
print("\nDataset Info")
final_df.info()

Final dataset shape: (85297, 14)

Dataset Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 85297 entries, 0 to 85296
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   student_id                 85297 non-null  int64
 1   resource_id                85297 non-null  object
 2   action_type                85297 non-null  object
 3   time_spent_seconds         85297 non-null  int64
 4   timestamp                  85297 non-null  datetime64[ns]
 5   resource_type              85297 non-null  object
 6   score                      13176 non-null  float64
 7   difficulty                 13176 non-null  float64
 8   final_grade                85297 non-null  float64
 9   total_time_spent           85297 non-null  int64
 10  total_resources_completed  85297 non-null  int64
 11  mastery_level              85297 non-null  object
 12  badges_earned              85297 non-null  int64
 13  dropout_flag               85297 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(5), object(5)
memory usage: 9.8+ MB

# Summary Analysis

In [142]:
# 1. Summary statistics of all numeric columns
summary_stats = final_df.describe()
print("Summary Statistics:\n", summary_stats)

Summary Statistics:
          student_id  time_spent_seconds         score    difficulty  \
count  85297.000000        85297.000000  13176.000000  13176.000000
mean     511.666331          274.558015     50.431466      2.994460
std      292.617853          298.834275     29.153510      1.400314
min        1.000000            5.000000      0.000000      1.000000
25%      259.000000           59.000000     25.000000      2.000000
50%      512.000000          177.000000     51.000000      3.000000
75%      789.000000          387.000000     76.000000      4.000000
max     1000.000000         3553.000000    100.000000      5.000000

        final_grade  total_time_spent  total_resources_completed  \
count  85297.000000      85297.000000               85297.000000
mean      71.001415      24753.199456                 108.513910
std       20.319274       6077.158150                 192.026428
min       11.630000      11753.000000                  22.000000
25%       58.830000      20215.000000                  38.000000
50%       72.970000      24343.000000                  46.000000
75%       87.240000      28698.000000                  54.000000
max       99.970000      39286.000000                 757.000000

       badges_earned
count   85297.000000
mean        4.990058
std         3.213492
min         0.000000
25%         2.000000
50%         5.000000
75%         8.000000
max        10.000000

# Exporting the Dataset to Power BI

In [94]:
# Export to CSV for Power BI
final_df.to_csv("final_cleaned_dataset.csv", index=False)